[user]
    username = Seiji Toyama
	email = seijit@me.com

[color]
  ui = auto

[mergetool]
  keepBackup = true

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[branch]
  autosetuprebase = always

[merge]
  ff = false

[push]
  default = upstream

[pull]
  rebase = true

[branch "master"]
  rebase = true
  mergeoptions = --no-ff

[alias]

  # Reset
  rsh = reset --soft HEAD  
  rhh = reset --hard HEAD
  nffmerge = merge --no-ff

  # Log         
  log1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative

  log2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)― %an%C(reset)' --abbrev-commit

  log3 = log --graph --date-order -C -M --pretty=format:"<%h> %ad [%an] %Cgreen%d%Creset %s" --all --date=short

  log4 = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'

  sgraph = !"git log --oneline --graph"

  graph = !"git log1"

  # Other
  ignore = !"f() { local s=$1; shift; \
    while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
    curl "http://gitignore.io/api/$s"; }; f"


[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = /Users/seiji/src
