[user]
  username = seiji
  email = toyama.seiji@gmail.com
  name = seiji

[init]
  templatedir = ~/.git-templates

[branch]
  autosetuprebase = always

[branch "master"]
  rebase = true
  mergeoptions = --no-ff

[color]
  ui = auto

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  quotepath = false

[commit]
	template = ~/.git_commit_msg

[diff]
	compactionHeuristic = true

[filter "csharp-format"]
  clean = astyle --style=linux --mode=cs --suffix=none
#  smudge = cat
#
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[merge]
  ff = false

[mergetool]
  keepBackup = true

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[push]
  default = upstream

[pull]
  rebase = true

[alias]
  al  = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t= \\2/' | sort
  br  = branch
  ci  = commit
  cia = commit --amend
  co  = checkout
  di  = diff
  dc  = diff --cached
  dn  = diff --name-status
  ds  = diff --stat
  fe  = fetch --prune
  fs  = !cd $(git rev-parse --show-toplevel) && git submodule update && cd -
  ls  = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  ll  = log --stat --abbrev-commit
  mnf = merge --no-ff
  pl  = pull origin
  ps  = push origin
  rs  = reset --soft HEAD
  rh  = reset --hard HEAD
  st  = !git status -s -b && git stash list

  # Log
  sb = show-branch --all --color
  graph = !"git log --oneline --graph"

  # Other
  ignore = !"f() { local s=$1; shift; \
          while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
          curl \"https://www.gitignore.io/api/$s\"; }; f"

[url "git@github.com:"]
  insteadOf = https://github.com/
