[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "zsh/.zsh/antigen"]
	path = zsh/.zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git://github.com/gmarik/vundle.git
