# ~/.gitignore
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/bin
.emacs.d/elisp
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/history
.emacs.d/riece
.emacs.d/share
.emacs.d/tramp
.emacs.d/url/cookies
.emacs.d/anything-c-adaptive-history
.zsh/zsh_history
