# ~/.gitignore
*.elc
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/elpa/archives/gnu/archive-contents
emacs/.emacs.d/bin
emacs/.emacs.d/elisp/*
!emacs/.emacs.d/elisp/.gitkeep
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/history
emacs/.emacs.d/riece
emacs/.emacs.d/share
emacs/.emacs.d/tramp
emacs/.emacs.d/url/cookies
emacs/.emacs.d/anything-c-adaptive-history
vim/.vim/bundle/*
!vim/.vim/bundle/neobundle.vim
zsh/.zsh/zsh_history
