[Desktop Entry]
Version=1.0
Name=Chromium
Comment=Chromium
Exec=chromium-browser
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=Chromium
Categories=Utility;
Hidden=false
NotShowIn=LXDE;
