[Desktop Entry]
Version=1.0
Name=GoogleChrome
Comment=GoogleaChrome
Exec=google-chrome
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=GoogleChrome
Categories=Utility;

# disable for now
Hidden=false
