appdirs==1.4.3
argcomplete==1.11.1
attrs==19.3.0
boto3==1.12.7
botocore==1.15.7
certifi==2022.12.7
custodian==2019.9.23
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
graphviz==0.13.2
greenlet==0.4.15
jmespath==0.9.5
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
monty==3.0.2
msgpack==1.0.0
neovim==0.3.1
numpy==1.22.0
opencv-python==4.2.0.32
pipenv==2022.1.8
pynvim==0.4.1
pyrsistent==0.15.7
python-dateutil==2.8.1
PyYAML==5.4
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
sentry-sdk==2.8.0
six==1.14.0
tabulate==0.8.6
urllib3==2.6.0
virtualenv==20.0.5
virtualenv-clone==0.5.3
