[Unit]
Description=your service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull seiji/nginx
ExecStart=/usr/bin/docker run --name nginx-%i --rm -p %i:80 seiji/nginx
ExecStartPost=/usr/bin/etcdctl set /app/server/%i ${COREOS_PUBLIC_IPV4}:%i
ExecStop=/usr/bin/docker kill nginx-%i
ExecStopPost=/usr/bin/etcdctl rm /app/server/%i

[X-Fleet]
X-Conflicts=nginx@%i.service
